<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="estilo1.css">
</head>
<body>
    <div class="container">
        <div class="card">
            <div class="topCard">
                <h2 class="title">ELFBAR 4000</h2>
                <span class="subtitle">exemplo texto segundario</span>
            </div>
            <div class="midiaCard"></div>
            <div class="bottomCard">
                <span class="txtbottom">texto dentro do bottom</span>
                <div>
                    <button class="action">COMPRAR</button>
                    <button class="action">SAIBA MAIS</button>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="topCard">
                <h2 class="title">ELFBAR 4000</h2>
                <span class="subtitle">exemplo texto segundario</span>
            </div>
            <div class="midiaCard"></div>
            <div class="bottomCard">
                <span class="txtbottom">texto dentro do bottom</span>
                <div>
                    <button class="action">COMPRAR</button>
                    <button class="action">SAIBA MAIS</button>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="topCard">
                <h2 class="title">ELFBAR 4000</h2>
                <span class="subtitle">exemplo texto segundario</span>
            </div>
            <div class="midiaCard"></div>
            <div class="bottomCard">
                <span class="txtbottom">texto dentro do bottom</span>
                <div>
                    <button class="action">COMPRAR</button>
                    <button class="action">SAIBA MAIS</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>