<html><head><title>Untitled</title>
    <link rel="stylesheet" type="text/css" href="./23503/estilo.css"/>
    </head>
    <body>
     <form name="frmAcesso" id="frmAcesso" action="" method="post">
       <div id="posicaoForm">
        <div id="cabecalho"><br>************ A C E S S O ************</cabecalho>
        <br><br><br>
    
       <table id="tabela" width="300" border="0" cellspacing="2" cellppading="10">
       <br><br>
       <TR>
         <TD ALIGN="LEFT">LOGIN</TD>
         <TD ALIGN="LEFT"><INPUT TYPE="text" class="input" NAME="txt_Login" size="10"></TD>
       </TR>
    
       <TR>
         <TD ALIGN="LEFT">SENHA</TD>
         <TD ALIGN="LEFT"><INPUT TYPE="password" class="input" NAME="txt_Senha" size="15"></TD>
       </TR>
    
       <TR>
         <TD ALIGN="CENTER"><BUTTON TYPE="button" class="botao">ACESSAR</BUTTON></TD>
         <TD ALIGN="CENTER"><BUTTON TYPE="button" class="botao">Limpar Campos</BUTTON></TD>
       </TR>
       </table>
       </div>
     </form>
    </body></html>